.body-content{
    width:100%;
    height: 100vh;
    display:grid;
    align-items: center;
    justify-items: center;
}


mat-grid-list{
    width:90%;
}

.first{
    background-image: url("../../../assets/images/first.jpg");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.second{
    background-image: url("../../../assets/images/second.jpg");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.third{
    background-image: url("../../../assets/images/third.jpg");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(216, 20, 157);
}


.fourth{
    background-image: url("../../../assets/images/fourth.jpg");
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}