<app-nav></app-nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="../assets/images/first.jpg" alt="John" style="width:30%">
  <h1>Jhon Christian Ubaldo</h1>
  <p class="title">BSIT-3E</p>
  <p>jhonchristian.ubaldo@evsu.edu.ph</p>
  <p>Brgy. 97 Tacloban City</p>
  <p>School: EVSU-MAIN</p>
  <p>AGE: 23 Yrs. old</p>
 
  <a href="#"><i class="fa fa-twitter"></i></a>
  
  <a href="#"><i class="fa fa-facebook"></i></a>
 
</div>
