<app-nav></app-nav>

<div class='body-container'>
    <mat-card>
        <h3>My Contact Information</h3>
        <mat-list>
            <mat-list-item>
                <mat-icon>email</mat-icon><a href="www.gmail.com"><p>jhonchristian.ubaldo@evsu.edu.ph</p></a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>hub</mat-icon><a href="https://github.com/jhay1413"><p>https://github.com/jhay1413</p></a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>facebook</mat-icon><a href="https://www.facebook.com/jhonchristian.ubaldo.39"><p>https://www.facebook.com/jhonchristian.ubaldo.39</p></a>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>